.category-container {
    margin: 2rem 5rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
}

.category-container .card {
    transition: 0.5s all ease-in-out;
}

.category-container .card:hover {
    transform: scale(1.1);
}

@media only screen and (max-width:550px) {
    .category-container {
        margin: 2rem 0;
    }
}