.video-container{
    margin-left: 5rem; 
    padding: 1rem;
    flex-wrap: wrap;
}

.video-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    padding: 1rem;
}


@media only screen and (max-width:700px) {
    .video-container {
        margin-left: 0;
        border:0;
    }
    .video-list{
        margin-bottom: 2rem;
    }
}