.home-banner{
    margin: 1rem;
    padding: 1rem;
    align-items: center;
}

.home-video{
    height: 65vh;
}

.home-welcome {
    color:var(--contrast-light);
    top: 35%;
    padding: 1rem;
    left: 0;
    right: 0;
    background-color: var(--transparent-darkblack);
    font-family: 'Dancing Script',
    cursive;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

.home-main{
    margin-left: 5rem; 
    border-left: 1px solid white 
}
.banner-title{
    color: var(--primary-lighter);
}
@media only screen and (max-width:700px) {
    .home-main {
        margin-left: 0;
        border:0
    }

    .home-img {
        height: 65vh;
    }

    .home-welcome {
        top: 40%;
    }
}