.playlist{
   margin-top: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.playlist-header{
    margin: 1rem;
    justify-content: space-between;
}
.playlist-card{
    width: 200px;
    height: 100px;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--helper-color);
}

@media screen and (max-width:700px) {
    .playlist{
        justify-content: center;
    }
}