.playlist{
    margin-top: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
}

.playlist-card{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--info-txt);
    border: 0.5px solid var(--info-txt);
    padding: 1rem 0 1rem 1rem;
    justify-content: space-between;
        align-items: center;
}
