
.category-select-list{
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.category-name{
    border: 2px solid var(--doc-bg);
    padding: 0.5rem;
    border-radius: 1rem;
}

.category-name:hover{
    cursor: pointer;
}

.category-name-selected{
    border: 2px solid var(--doc-bg);
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--shadow-color);
    color: black;
}


