.filter-container {
    margin: 0 1rem;
}

.filter-heading-icon .btn:hover {
    background-color: transparent;
    cursor: auto;
}

.filter-options {
    padding: 1rem;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid var(--gold-color);
}

.filter-options::-webkit-scrollbar {
    width: 0.3rem;
}

.filter-options::-webkit-scrollbar-track {
    background: var(--grey-bg);
}

.filter-options::-webkit-scrollbar-thumb {
    background: var(--gold-color);
}

@media only screen and (max-width:550px) {
    .filter-options {
        height: 40vh;
    }
}
