@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

:root{
  --transparent-darkblack: hsla(0, 0%, 0%, 0.678);
}

body {
  font-family: 'Roboto',
    sans-serif;
    background-color: var(--black-color);
    color: var(--white-color)
}

.nav-container {
  background-color: var(--secondary-color);
}

.nav-brand-name {
  font-family: cursive;
}

.btn-active {
  font-weight: bolder;
  border: 1px solid var(--white-color);
}

.user-account-link:hover {
  background-color: transparent;
}

.card {
  padding-bottom: 0.5rem;
  box-shadow: none;
  background-color: var(--black-color);
}

.card img {
  height: 10rem;
  width: 10rem;
  /* border-bottom: 1px solid; */
}

.card-content {
  flex: 0;
}

.card button {
  padding: 0.35rem;
}

.card .card-btn {
  color:var(--primary-lighter)
}

.card-hor {
  width: 25rem;
}

.card-hor .card-media {
  align-self: center;
  border-bottom: 0;
  height: auto;
}

.card-hor .card-data {
  padding: 0 .5rem;
}

.card-hor .product-rating {
  align-self: baseline;
}

@media screen and (min-width:550px) and (max-width:700px) {
  .nav-container {
    flex-direction: column;
  }
}

@media screen and (max-width:550px) {
  .signup-body {
    background: none;
  }

  .signup-container {
    margin: auto;
    align-items: baseline;
    justify-content: center;
  }

  .signup-section {
    background-color: transparent;
    margin-top: 0;
  }

  .card-hor {
    width: 20rem;
  }
}
