:root{
  --transparent-darkblack: hsla(0, 0%, 0%, 0.678);
}

body {
  font-family: 'Roboto',
    sans-serif;
    background-color: var(--black-color);
    color: var(--white-color)
}

.nav-container {
  background-color: var(--secondary-color);
}

.nav-brand-name {
  font-family: cursive;
}

.btn-active {
  font-weight: bolder;
  border: 1px solid var(--white-color);
}

.user-account-link:hover {
  background-color: transparent;
}

.card {
  padding-bottom: 0.5rem;
  background-color: var(--black-color);
  box-shadow: 0 0 12px var(--info-txt);
  border-radius: 5px;
}

.card img {
  height: 12rem;
  width: 15rem;
  border-radius: 5px;
}

.card-content {
  flex: 0;
}

.card button {
  padding: 0.35rem;
}

.card .card-btn {
  color:var(--primary-lighter)
}

.card-hor {
  width: 25rem;
}

.card-hor .card-media {
  align-self: center;
  border-bottom: 0;
  height: auto;
}

.card-hor .card-data {
  padding: 0 .5rem;
}

.card-hor .product-rating {
  align-self: baseline;
}

.nav-btn{
  /* color : var(--primary-dark) */
}

.nav-btn:hover{
  color: black;
}

.btn-primary{
  background-color: var(--primary-darker);
  box-shadow: none;
}

input[type="text"],input[type="password"],textarea{
  background-color: var(--black-color);
    color: white;
}

.videolist-container{
    margin-left: 6rem; 
    padding: 1rem;
    flex-wrap: wrap;
}

.custom-video-list{
    margin-bottom: 3rem;
}

.videolist-container .card{
    position: relative;
}

 .icon-trash{
    right: 0;
    color: white;
    padding: 0.5rem
}

.icon-trash:hover{
    color: black;
    border-radius: 50%;

}

.videolist-container .card img{
    width: 100px;
    height: 100px;
    padding-left: 1rem;
}

.videolist-container .card-hor{
    width: 90%;
}

.videolist-container .card-title{
    padding-right: 1rem;
}

@media screen and (max-width:550px) {
  .nav-container {
    flex-direction: column;
  }

  .signup-body {
    background: none;
  }

  .signup-container {
    margin: auto;
    align-items: baseline;
    justify-content: center;
  }

  .signup-section {
    background-color: transparent;
    margin-top: 0;
  }

  .card-hor {
    width: 20rem;
  }

  .videolist-container {
        margin-left: 0;
        border:0;
    } 
}
